*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #100e1d;
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.rectangular__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}

.rectangular__card__content {
  background: #1e213a;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rectangular__card__content--row {
  padding: 1.2em;
}

.rectangular__card_title {
  font-size: 1.2rem;
  font-weight: 500;
}

.rectangular__card__rate {
  font-size: 6rem;
  font-weight: 600;
  margin: 0.2em 0;
}

.rectangular__card__rate span {
  font-size: 3rem;
  font-weight: 400;
  margin-left: -0.5em;
}

.rectangular__card__bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangular__card__icon__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5em;
  height: 2.5em;
  background: #6e707a;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
}

.rectangular__card__icon__wrapper .rectangular__card__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rectangular__card__progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5em;
  width: 100%;
}

.rectangular__card__progressBar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.2em;
}

.rectangular__card__progressBar__point {
  font-size: 1.2rem;
  font-weight: 500;
}

.rectangular__card__progressBar__line {
  width: 100%;
  height: 0.5em;
  border-radius: 10em;
  margin-bottom: 0.2em;
  background: #e7e7eb;
  position: relative;
}

.rectangular__card__progressBar__done {
  position: absolute;
  border-radius: 10em;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffec65;
}

.rectangular__card__progressBar__percent {
  font-size: 1.2rem;
  font-weight: 500;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5em;
}

.card .squareCard {
  padding: 1.5em;
  width: 12em;
  height: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e213a;
}

.card .squareCard__title {
  font-size: 1.2rem;
  font-weight: 500;
}

.card .squareCard__img {
  width: 7em;
  display: block;
  margin-bottom: auto;
}

.card .squareCard__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .squareCard__content__text--1 {
  font-size: 1.25rem;
  margin-right: 2em;
  font-weight: 600;
}

.card .squareCard__content__text--2 {
  font-size: 1.05rem;
  font-weight: 500;
  color: #a09fb1;
}

.search {
  width: 100%;
}

.search__closeIcon {
  display: block;
  margin-left: auto;
  margin-bottom: 3em;
  cursor: pointer;
}

.search__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input__wrapper {
  position: relative;
}

.search__input {
  font-size: 1.5rem;
  padding: 0.75em 0.5em 0.75em 3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #e7e7eb;
  outline: none;
  background: transparent;
  color: #a09fb1;
  margin-right: 0.5em;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  color: #616475;
}

.search__input:-ms-input-placeholder {
  color: #616475;
}

.search__input::-ms-input-placeholder {
  color: #616475;
}

.search__input::placeholder {
  color: #616475;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #616475;
}

.search__button {
  border-radius: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  border: 0;
  background: #3c47e9;
  cursor: pointer;
  color: #e7e7eb;
}

.search__button:hover {
  background: #3a44d8;
}

.search__button:active {
  background: #343ec5;
}

.search__list {
  width: 100%;
  background: #e7e7eb;
  margin-top: 0.5em;
}

.search__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  cursor: pointer;
}

.search__list__item:not(:last-of-type) {
  border-bottom: 1px solid #88869d;
}

.search__list__item:hover {
  background: rgba(58, 68, 216, 0.2);
}

.search__list__item__icon {
  font-size: 2rem;
  min-width: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 0.5em;
  color: #0f0b53;
}

.search__list__item__text {
  font-size: 1.5rem;
  color: #3c47e9;
}

.spinner__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17, 14, 60, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside {
  background: #1e213a;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 3em 5em 5em;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.aside__content {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
  height: 100%;
}

.aside__error {
  height: 100vh;
}

.aside__background {
  max-width: 75em;
  position: absolute;
  top: 10em;
  left: -11em;
  opacity: 0.075;
}

.aside__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__button {
  background: #6e707a;
  color: #e7e7eb;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.85em 1.25em;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
}

.aside__button:hover {
  background: #666669;
}

.aside__button:active {
  outline: none;
  background: #535355;
}

.aside__location__iconButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5em;
  height: 2.5em;
  background: #6e707a;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
  color: #e7e7eb;
}

.aside__location__iconButton:hover {
  background: #666669;
}

.aside__location__iconButton:active {
  outline: none;
  background: #a09fb1;
}

.aside__weather {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 7em;
}

.aside__weather__icon {
  width: 22em;
}

.aside__weather__degree {
  font-size: 10rem;
  font-weight: 400;
  margin-top: 0.5em;
}

.aside__weather__degree sup {
  font-size: 2rem;
  color: #88869d;
}

.aside__weather__degree span {
  font-size: 4rem;
  color: #88869d;
}

.aside__weather__state {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 2em;
  color: #88869d;
}

.aside__weather__date {
  font-size: 1.5rem;
  color: #88869d;
}

.aside__weather__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  color: #88869d;
  margin-top: 3em;
  font-size: 1.5rem;
}

.aside__weather__location p {
  margin-left: 0.25rem;
}

.footer {
  padding-top: 7em;
  text-align: center;
}

.footer__text {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer__text a {
  color: #e7e7eb;
  text-decoration: underline;
}

.footer__text a:hover {
  color: #ffec65;
}

.footer__text a:active {
  color: #ffec65;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  height: 100%;
}

.section {
  padding: 3em 7em 2em;
}

.section .section__temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section .section__temperature__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5em;
  height: 2.5em;
  background: #6e707a;
  border-radius: 50%;
  display: block;
  border: 0;
  cursor: pointer;
}

.section .section__temperature__button--celsius {
  background: #e7e7eb;
  color: #110e3c;
  margin-right: 1em;
}

.section .section__temperature__button--celsius:active {
  background: #a09fb1;
}

.section .section__temperature__button--fahrenheit {
  background: #585676;
  color: #e7e7eb;
}

.section .section__temperature__button--fahrenheit:active {
  background: #0f0b53;
}

.section .section__highlights {
  margin-top: 5em;
}

.section .section__highlights__title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2em;
}
/*# sourceMappingURL=index.css.map */