// COLORS
$color-primary: #100e1d;
$color-secondary: #1e213a;
$color-tertiary: #585676;
$color-white: #e7e7eb;
$color-grey: #6e707a;
$color-grey-1: #666669;
$color-grey-2: #535355;
$color-grey-light: #88869d;
$color-grey-light-1: #a09fb1;
$color-dark-grey: #616475;
$color-light-blue: #3c47e9;
$color-light-blue-1: #3a44d8;
$color-light-blue-2: #343ec5;
$color-dark-blue: #110e3c;
$color-yellow: #ffec65;
