.aside {
  background: $color-secondary;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 3em 5em 5em;
  transition: all 0.25s ease-in-out;

  &__content {
    transition: all 0.25s ease-in-out;
    width: 100%;
    height: 100%;
  }

  &__background {
    max-width: 75em;
    position: absolute;
    top: 10em;
    left: -11em;
    opacity: 0.075;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background: $color-grey;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.85em 1.25em;
    border: 0;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);

    &:hover {
      background: $color-grey-1;
    }

    &:active {
      outline: none;
      background: $color-grey-2;
    }
  }

  &__location__icon {
    @include roundedCircle;
    cursor: pointer;
    -webkit-box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 5px 3px 1px rgba(0, 0, 0, 0.25);
  }

  &__weather {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 7em;

    &__icon {
      width: 22em;
    }

    &__degree {
      font-size: 10rem;
      font-weight: 400;
      margin-top: 0.25em;

      & sup {
        font-size: 2rem;
        color: $color-grey-light;
      }

      & span {
        font-size: 4rem;
        color: $color-grey-light;
      }
    }

    &__state {
      font-size: 3rem;
      font-weight: 400;
      margin-top: 1.5em;
      margin-bottom: 2em;
      color: $color-grey-light;
    }

    &__date {
      font-size: 1.5rem;
      color: $color-grey-light;
    }

    &__location {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: $color-grey-light;
      margin-top: 3em;
      font-size: 1.5rem;

      & p {
        margin-left: 0.25rem;
      }
    }
  }
}
