.section {
  padding: 3em 7em 2em;

  .section__temperature {
    display: flex;
    justify-content: flex-end;

    &__button {
      @include roundedCircle;
      display: block;
      border: 0;
      cursor: pointer;

      &--celsius {
        background: $color-white;
        color: $color-dark-blue;
        margin-right: 1em;

        &:active {
          background: $color-grey-light-1;
        }
      }

      &--fahrenheit {
        background: $color-tertiary;
        color: $color-white;

        &:active {
          background: $color-dark-blue-1;
        }
      }
    }
  }

  &__error {
    height: 70vh;
    @include flexHorizontal;

    &__text {
      font-size: 2rem;
      color: $color-danger;
    }
  }

  &__highlights {
    margin-top: 5em;

    &__title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2em;
    }
  }
}
